#main {
    background-image: url("../img/57394B3C65F.jpg");
}

.QStatusBar {
    background-color: #333333;
    color: #CC3333;
}

#knapsack {
    width: 30px;
    height: 30px;
}

#task {
    width: 30px;
    height: 30px;
}

#friends {
    width: 30px;
    height: 30px;
}

#setting {
    width: 30px;
    height: 30px;
}

#quit {
    width: 30px;
    height: 30px;
}

#competitive {
    width: 300px;
    height: 150px;
}
